.section-mapper__sections {
    float: left;
    width:50%;
}

.section-mapper__clearfix {
    display: table;
    clear: both;
}

.section-mapper__section {
    display: none;
    margin-left:20px;
}

.section-mapper__section.disabled {
    opacity: 0.3;
    cursor: default;
}

.section-mapper__section.disabled .section-mapper__section-name {
    cursor: default;
}

.section-mapper__section.open > .section-mapper__section{
    display: block;
}

.section-depth-1 {
    display: block;
    margin-left:0px;
}

.section-mapper__collapser {
    float: left;
    width:10px;
}

.section-mapper__matcher {
    float: left;
    width: 10px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: #000;
    padding: 0 8px;
    text-align: center;
    margin-right:10px;
    display: none;
}

.section-mapper__matcher:hover {
    text-decoration: none;
    color: #648900;
}

.section-mapper__section-collapse, .section-mapper__section-collapse:hover {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
}

.section-mapper__section-collapse:after {
    content: '+';
}

.section-mapper__section.open > .section-mapper__collapser > .section-mapper__section-collapse:after {
    content: '-';
}

.section-mapper__section-name {
    margin-bottom:5px;
    float: left;
    width: calc(100% - 20px);
    cursor: pointer;
    padding-left:7px;
    box-sizing:border-box;
}

.section-mapper__section.selected > .section-mapper__section-name {
    background: #ccc;
    padding:5px;
}

.section-mapper__section.selected > .section-mapper__section-name > .section-mapper__matcher {
    display: block;
}

.section-match__matched-item {
    background: green;
    color: #fff;
    margin: 0 10px 0 40px;
    padding: 2px 5px;
}

.section-match__matched-del {
    float: left;
    display: block;
    text-decoration: none;
    color: #fff;
    width: 15px;
    text-align: left;
    cursor: pointer;
    font-weight: bold;
}

.section-match__matched-name {
    width:calc(100% - 10px);
}

.section-mapper__matches {
    clear: both;
}

.section-match__matched-name input[type='checkbox'] {
    vertical-align: middle;
}